footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25%;
  width: 100%;
  background: rgba(35, 35, 35, 0.75);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

footer section {
  padding: 0 1rem;
  width: 100%;
}

footer section button {
  background: transparent;
  border: 0;
}

footer button:active {
  transform: scale(0.9);
}

/* music details */
footer section:first-child {
  height: 20%;
  margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer section:first-child figure {
  height: 100%;
  width: 88%;

  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 50% 1fr;
}

footer section:first-child figure img {
  height: 100%;
  border-radius: 4px;
  grid-column: 1;
  grid-row: 1/3;
}

footer section:first-child figure h3,
footer section:first-child figure h5 {
  padding-left: 0.5rem;
  text-align: start;
  vertical-align: middle;
}

footer section:first-child figure h3 {
  font-size: 0.9rem;
  grid-column: 2;
  grid-row: 1;
}

footer section:first-child figure h5 {
  font-size: 0.7rem;
  padding-top: 2px;
  font-weight: 400;
  grid-column: 2;
  grid-row: 2;
}

footer section:first-child button {
  width: 12%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer section:first-child button img {
  height: 60%;
  width: auto;
}

/* music slider */
footer section:nth-child(2) {
  height: 15%;
  margin: 0.8rem 0 0.8rem 0;
  width: 100%;
}

footer section:nth-child(2) .slider-holder {
  position: relative;
  width: 100%;
}

footer section:nth-child(2) .progress-slider {
  height: 10px;
  width: 100%;
  border-radius: 32px;
  background: var(--white);
}

footer section:nth-child(2) .fill-progress-slider {
  height: 10px;
  width: 50%;
  border-radius: 32px;
  background: var(--blue-light);
}

.slider {
  position: absolute;
  top: 0;
  left: 0;

  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 8px;
  background: transparent;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--blue-light);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--blue-light);
  cursor: pointer;
}

footer section:nth-child(2) .details-slider {
  width: 100%;
  margin-top: 6px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer section:nth-child(2) .details-slider p {
  font-size: 0.8rem;
}

/* music controls */
footer section:last-child {
  height: 35%;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer section:last-child button {
  height: 80%;
  width: auto;
}

footer section:last-child button img {
  height: 80%;
  width: auto;
}

footer section:last-child > button:first-child img,
footer section:last-child > button:last-child img {
  height: 60%;
}

footer section:last-child > button:first-child {
  width: 10%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer section:last-child .main-buttons {
  width: 80%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer section:last-child .main-buttons > button {
  margin: 0 0.8rem;
}

footer section:last-child > button:last-child {
  width: 10%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer section:last-child .circle {
  padding: 4px 2px 4px 4px;
  border-radius: 50%;
  border: 2px solid var(--white);
}
