<router-outlet></router-outlet>
<footer>
  <section>
    <figure>
      <img src="assets/InRainbows.jpeg" alt="">
      <h3>Jigsaw Falling into Place</h3>
      <h5>Radiohead</h5>
    </figure>
    <button>
      <img src="assets/images/star.svg" alt="">
    </button>
  </section>
  <section>
    Slider
  </section>
  <section>
    <button>
      <img src="assets/images/elipsis-h.svg" alt="">
    </button>
    <button>
      <img src="assets/images/backward.svg" alt="">
    </button>
    <button>
      <img class="circle" src="assets/images/play.svg" alt="">
    </button>
    <button>
      <img src="assets/images/forward.svg" alt="">
    </button>
    <button>
      <img src="assets/images/sync.svg" alt="">
    </button>
  </section>
</footer>
